.modal_check{
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  margin-top: 10%;
  margin-left: 32%;
  }
  
  .modal_check input{
    width: 200px;
    margin-right: 10px;
  }
  
  
  
  
  .modal-container{
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height:100vh;
    width:100%;
  }
  
  .modal-container.show{
    opacity: 1;
    pointer-events: auto;
  }
  
  .modal-box{
    background-color: #fff;
    border-radius: 5px;
    padding: 30px 50px;
    width: 600px;
    max-width: 100%;
    text-align: center;
  }
  
  .modal-box h1{
    margin: 0;
  }
  
  .modal-box p{
    font-size: 14px;
    opacity: 0.7;
  }
  
  .modal-box table{
    margin-left: 25%;
    margin-top: 5%;
  }