table {
  margin-left:0px;
    width: 50%;
    border: 1px solid;
  }

  mat-table {
    display: flex;
    flex-direction: row;
  }
  
  mat-row, mat-header-row {
    flex-direction: column;
  }

  .inputProcessPension{
    width: 25%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding-top: 15px;
  }

  .vertical-center-row {
    text-align: center;
    margin-left: 32%;
}


.modal_check{
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
margin-top: 3%;
margin-left: 38%;
}

.modal_check input{
  width: 200px;
  margin-right: 10px;
}


button{
  background-color: #47a386;
  border-radius: 5px;
  color:#fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
  font-size: 14px;
}

.modal-container{
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  height:100vh;
  width:100%;
}

.modal-container.show{
  opacity: 1;
  pointer-events: auto;
}

.modal-box{
  background-color: #fff;
  border-radius: 5px;
  padding: 30px 50px;
  width: 600px;
  max-width: 100%;
  text-align: center;
}

.modal-box h1{
  margin: 0;
}

.modal-box p{
  font-size: 14px;
  opacity: 0.7;
}

.modal-box table{
  margin-left: 25%;
  margin-top: 5%;
}






.detailMargin{
  margin-left: 0px;
}

















.loader-main{
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  height:100vh;
  width:100%;
}

.loader-main.show{
  opacity: 1;
  pointer-events: auto;
}
/* 
.loader-main{
margin-left: 48%;
} */
.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}